/* ************************** */
/* Affects the game debug DOM */
/* ************************** */

/* The main debug div */
#DEBUG_DIV {
	vertical-align: top;
	width: 500px;
	height: 655px;
	text-align: left;
	overflow: auto;
}
#DEBUG_DIV.hidden {
	display:none;
}

#DEBUG_DIV.notActive{
	opacity:0.50;
}

#DEBUG_DIV #DEBUG_DIV_MENU {
	text-align: center;
}
#DEBUG_DIV .debugPanelButtons {
	display: inline-block;
	width: 85px;
	margin: 2px;
	background-color: deepskyblue;
	border-radius: 5px;
	padding: 5px;
	white-space: nowrap;
	overflow: hidden;
	font-size: 12px;
}
#DEBUG_DIV .debugPanelButtons:hover { background-color:blue;}
#DEBUG_DIV .debugPanelButtons:active{ background-color:skyblue;}
#DEBUG_DIV .debugPanelButtons.active{ background-color:greenyellow;}
#DEBUG_DIV #DEBUG_DIV_MENU_DIVS .DEBUG_DIV_MENU_DIVS{
	display:none;
	padding: 5px;
	position: relative;
}
#DEBUG_DIV #DEBUG_DIV_MENU_DIVS .DEBUG_DIV_MENU_DIVS.active{
	display:block;
}

/* debug div tables */
#DEBUG_DIV .debugTable1{width: 100%;border-collapse: collapse;border-top: 2px dotted black;border-bottom: 2px dotted black;background-color: darkgray;}
#DEBUG_DIV .debugTable1 caption{width:100%;font-weight:bold;background-color: gray;}
#DEBUG_DIV .debugTable1 th{ text-decoration:underline; font-weight:bold; text-align:center; }
#DEBUG_DIV .debugTable1 td{ text-align:center; }

/* #DEBUG_DIV .debugTable2{width:100%;border-collapse: collapse;} */
/* #DEBUG_DIV .debugTable2 caption{width:100%;} */
/* #DEBUG_DIV .debugTable2 th{ text-decoration:underline; font-weight:bold; text-align:left; } */
/* #DEBUG_DIV .debugTable2 td:nth-child(1){width:25%;text-align:left;vertical-align: top;} */
/* #DEBUG_DIV .debugTable2 td:nth-child(2){ width:75%; text-align:left; } */

/* debug div - individual elements */
#DEBUG_DIV #DEBUG_DIV_MENU_DIVS .DEBUG_DIV_MENU_DIVS.active button{
	font-size: 12px;
	margin:2px;
	padding:2px;
}

/* ------------------------- */

.DEBUG_layerDataInfo_div_cont   {font-size: 10px;text-align: left;white-space:pre;}
.DEBUG_layerDataInfo_span_label {font-weight:bold;width: 35%;display: inline-block;white-space:pre;text-align: left;font-family: monospace;/* font-size: 8px; *//* background-color: lightsteelblue; */}
.DEBUG_layerDataInfo_span_data1 {width: 65%;/* display: inline-block; */white-space:pre;font-family: monospace;text-align: left;/* font-size: 8px; *//* background-color: deepskyblue; */}
/* .DEBUG_layerDataInfo_span_data2 {width: 45%;display: inline-block;white-space:pre;font-family: monospace;text-align: left;font-size: 8px;background-color: skyblue;} */

.DEBUG_clear        { background-color:#00800010; }
.DEBUG_indeterminate{ background-color:#0000FF20; }
.DEBUG_warning      { background-color:#80008030; }
.DEBUG_minor        { background-color:#FFFF0040; }
.DEBUG_major        { background-color:#FFA50050; }
.DEBUG_critical     { background-color:#FF000060; }
.DEBUG_tooLong      { background-color:#FFFF0020; color:#FF0000FF; }


#DEBUG_DIV span.widespan1{/* background-color: gray; */width: 150px;display: inline-block;}

#DEBUG_DIV #DEBUG_performance_table1 {
	background-color: lightgray;
}
#DEBUG_DIV .DEBUG_canvas {
	border:1px dashed black;
	width: 85%;
	height: 85%;
}

#DEBUG_DIV #debug_updateIndicator{
	position:absolute;
	top:0px;
	left: 0px;
	width: 10px;
	height: 20px;
	background-color: lightgray;
	font-size: 8px;
	line-height: 20px;
	font-weight: bold;
	/* display: inline-block; */
	/* padding: 1px; */
	/* display: none; */
}
#DEBUG_DIV #debug_updateIndicator2{
	/* position:absolute; */
	top: 3px;
	left: 2px;
	/* width: 80px; */
	height: 20px;
	background-color: lightgray;
	font-size: 8px;
	line-height: 20px;
	font-weight: bold;
	display: inline-block;
	/* padding: 0px; */
}
#DEBUG_DIV #debug_updateIndicator3{
	/* position:absolute; */
	top:0px;
	left:25px;
	/* width: 50px; */
	height: 20px;
	background-color: lightgray;
	font-size: 8px;
	line-height: 20px;
	font-weight: bold;
	display: inline-block;
}
#DEBUG_DIV #debug_updateIndicator4{
	/* position:absolute; */
	top:0px;
	/* left:125px; */
	/* width: 100px; */
	height: 20px;
	background-color: lightgray;
	font-size: 8px;
	line-height: 20px;
	font-weight: bold;
	display: inline-block;
}

#DEBUG_DIV #debug_updateIndicator5{
	/* position:absolute; */
	top:0px;
	/* left:125px; */
	/* width: 100px; */
	height: 20px;
	background-color: lightgray;
	font-size: 8px;
	line-height: 20px;
	font-weight: bold;
	display: inline-block;
}

#DEBUG_DIV .layerDiv2 {
    border: 1px solid black;
    vertical-align: top;
    display: inline-block;
    width: 205px;
    height: 205px;
    padding: 2px;
    margin: 2px;
    text-align: center;
}
#DEBUG_DIV .layerDiv3 {
    /* border: 1px solid black;
    vertical-align: top;
    display: inline-block;
    width: 180px;
    height: 180px;
    padding: 2px;
    margin: 2px;
    text-align: center; */
}

#DEBUG_DIV #debug_colorOutput_canvas1 {vertical-align:top; border:1px solid black;width: 64px;}
#DEBUG_DIV #debug_colorOutput_canvas2 {vertical-align:top; border:1px solid black;width: 64px;}
#DEBUG_DIV #debug_colorOutput_canvas_div {/* vertical-align:top; */border:1px solid black;background-color: #6a6377;/* padding: 5px; *//* margin: 10px; *//* width: 386px; *//* height: 270px; *//* display: inline-block; *//* margin: auto; */position: absolute;top: 5px;left: 220px;font-size: 0px;}

#DEBUG_DIV .debug_colorOutput_tile_canvases {width: 15px;height: 13px;/* height: 6px; */vertical-align: top;/* border:1px solid black; */margin: 1px;}


/* COLOR HOVER PREVIEWS */

#DEBUG_color_hover_preview{
    border: 1px solid black;
    min-height: 250px;
    width: 180px;
    /* height: 410px; */
    background-color: skyblue;
    background-color: #6a6377;
    position: absolute;
    left: 5px;
    top: 5px;
}
#DEBUG_color_hover_preview_canvas1{
    /* border: 1px solid black; */
    /* min-height: 1em; */
    width: 32px;
    height: 32px;
    vertical-align:top;
}
#DEBUG_color_hover_preview_canvas2{
    /* border: 1px solid black; */
    /* min-height: 1em; */
    /* width: 32px; */
    /* height: 32px; */
    /* vertical-align:top; */
}
#DEBUG_color_hover_preview_textinfo{
    border: 1px solid black;
    /* min-height: 1em; */
    min-height: 80px;
}

#DEBUG_color_hover_preview_source{
    border: 1px solid black;
    min-height: 140px;
    width: 180px;
    /* height: 135px; */
    background-color: cornflowerblue;
    position: absolute;
    left: 5px;
    top: 270px;
}
#DEBUG_color_hover_preview_source_canvas1{
    border: 1px solid black;
    min-height: 1em;
    width: 32px;
    height: 32px;
    vertical-align:top;
    margin: 2px 2px;
}
#DEBUG_color_hover_preview_source_textinfo{
    border: 1px solid black;
    min-height: 80px;
    margin: 2px 2px;
}

#DEBUG_color_hover_preview_destination{
    border: 1px solid black;
    min-height: 140px;
    width: 180px;
    height: 135px;
    background-color: cadetblue;
    position: absolute;
    left: 315px;
    top: 270px;
}
#DEBUG_color_hover_preview_destination_canvas1{
    border: 1px solid black;
    min-height: 1em;
    width: 32px;
    height: 32px;
    vertical-align:top;
    margin: 2px 2px;
}
#DEBUG_color_hover_preview_destination_textinfo{
    border: 1px solid black;
    /* min-height: 1em; */
    min-height: 80px;
    margin: 2px 2px;
}

.DEBUG_color_hover_preview_title {
    background-color: slategrey;
    text-align: center;
    text-decoration: underline;
	font-weight: bold;
	vertical-align:top;
}
#DEBUG_color_hover_preview .canvas1{
	vertical-align: top;
	/* border: 1px solid black; */
	width: 128px;
	height: 128px;
	vertical-align:top;
	margin: 2px 2px;
	display: block;
}
#DEBUG_color_hover_preview .canvas2{
	vertical-align: top;
	/* border: 1px solid black; */
	width: 16px;
	height: 16px;
	vertical-align:top;
	margin: 2px 2px;
	display: block;
}

#DEBUG_misc button{
	font-family:monospace;
}

textarea#DEBUG_vars_textarea {
	width: 100%;
	height: 41em;
	overflow: scroll;
	white-space: pre;
	font-family: monospace;
	font-size: 10px;
	color: gainsboro;
	background-color: black;
}

#DEBUG_layers_textstrings{ cursor:pointer; }